body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.all-trains-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trainContainer {
  border: 1px solid black;
  width: 225px;
  padding: 10px;
}

.trainInfo {
  text-align: left;
}

.trainContainer:hover {
  background-color: lightgray;
  border: 1px solid rgb(255, 208, 0);
}

.btn-container {
  margin: 25px;
}